n8n-workflows/router-f9valHgoQMlQ2NUF.json
{
  "name": "Handle Gmail Incoming Emails",
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "pMiLFPl5uTYRH0EI",
    "availableInMCP": true
  },
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyHour" }] },
        "simple": false,
        "filters": {
          "q": "-{label:imported} -{label:error} -{label:unrouted} has:attachment",
          "readStatus": "unread"
        },
        "options": { "downloadAttachments": true }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [2224, 1200],
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "no-reply@invoice.tiime.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Facture PLS"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "hedy@plservice.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Stock PLS"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "exploitation@consideritdone.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "consider it done"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "SFF_CARREFOUR@carrefour.com", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "FINIFAC"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "ferid_mazari@carrefour.com", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "VENTES MAGASIN"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "cw@saylinternational.com", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "CW"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "no.reply@basware.com", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "Kuehne"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "bastin.thierry@wanadoo.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "SALAIRES"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "c.dinar@fieccor.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "fieccor"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "a.guerin@herport.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "HERPORT"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "comptabilite@schouttet.fr", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "schouttet"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 3 },
                "conditions": [{ "leftValue": "={{ $json.from.value[0].address }}", "rightValue": "francemedek@gmail.com", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "FRANCE MEDEK"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unrouted",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2448, 944],
      "name": "Switch"
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "T4MQopyAWY1v8h7N", "mode": "list", "cachedResultName": "Import Facture PLS" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 48],
      "name": "Call 'Import Facture PLS'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "4zigEyNSCwtFGIzl", "mode": "list", "cachedResultName": "Import Stock PLS" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 240],
      "name": "Call 'Import Stock PLS'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "IhFf3Ct0TYvRnI6E", "mode": "list", "cachedResultName": "Import Invoice CONSIDER IT DONE" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 432],
      "name": "Call 'Import Invoice CONSIDER IT DONE'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "vg0CGxoCMONudAJa", "mode": "list", "cachedResultName": "FINIFAC" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 624],
      "name": "Call 'FINIFAC'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "zvcDHce7yiN32aOr", "mode": "list", "cachedResultName": "Import Ventes Magasin" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 816],
      "name": "Call 'Import Ventes Magasin'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "mAVfdmjFyHrLVxte", "mode": "list", "cachedResultName": "Import CW" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 1008],
      "name": "Call 'Import CW'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "gG7UXfOyDokykLAb", "mode": "list", "cachedResultName": "Import Facture Kuehne" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 1200],
      "name": "Call 'Import Facture Kuehne'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "an83468N5ZqJzIe4", "mode": "list", "cachedResultName": "Import Expense Salaires" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 1392],
      "name": "Call 'Import Expense Salaires'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "uKlGVkXKPZ8IsVrY", "mode": "list", "cachedResultName": "Import Facture Serge" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 1584],
      "name": "Call 'Import Facture Serge'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "T7AWC7eXIzhsVaUi", "mode": "list", "cachedResultName": "Import Facture Herport" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 1776],
      "name": "Call 'Import Facture Herport'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "I8broe28tNF8usqQ", "mode": "list", "cachedResultName": "Import Facture Schouttet" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 1968],
      "name": "Call 'Import Facture Schouttet'", "continueOnFail": true
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "7fnwGlynh3YT5qkB", "mode": "list", "cachedResultName": "Import BL EDI" }, "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true }, "options": {} },
      "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2944, 2160],
      "name": "Call 'Import BL EDI'", "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [{ "leftValue": "={{ $json.error }}", "rightValue": "", "operator": { "type": "string", "operation": "notExists" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [3200, 1104],
      "name": "Subworkflow OK?"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["Label_5420650119621021264"]
      },
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [3504, 1004],
      "name": "Marquer email importé"
    },
    {
      "parameters": { "operation": "markAsRead", "messageId": "={{ $('Gmail Trigger').first().json.id }}" },
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [3728, 1004],
      "name": "Mark a message as read"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["Label_4750124165477147534"]
      },
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [3200, 2500],
      "name": "Label unrouted"
    },
    {
      "parameters": { "operation": "markAsRead", "messageId": "={{ $('Gmail Trigger').first().json.id }}" },
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [3420, 2500],
      "name": "Mark unrouted as read"
    },
    {
      "parameters": {
        "sendTo": "gestion.medek@gmail.com",
        "subject": "=[n8n] Unrouted supplier email needs handling — {{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "emailType": "text",
        "message": "=Bonjour,\n\nUn email avec pièce jointe a été reçu mais ne correspond à aucun fournisseur configuré.\n\nDe : {{ $('Gmail Trigger').item.json.from.value[0].address }}\nObjet : {{ $('Gmail Trigger').item.json.subject }}\nDate : {{ $('Gmail Trigger').item.json.date }}\n\nL'email a été marqué « unrouted » dans Gmail.\n\nCordialement,\nn8n Automation",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [3640, 2500],
      "name": "Send unrouted notification"
    },
    {
      "parameters": {
        "operation": "getAll", "limit": 10, "simple": false,
        "filters": { "q": "-{label:imported} -{label:error} -{label:unrouted} has:attachment", "readStatus": "unread" },
        "options": { "downloadAttachments": true }
      },
      "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [2224, 1008],
      "name": "Get many messages", "disabled": true
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [[{ "node": "Switch", "type": "main", "index": 0 }]] },
    "Switch": {
      "main": [
        [{ "node": "Call 'Import Facture PLS'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Stock PLS'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Invoice CONSIDER IT DONE'", "type": "main", "index": 0 }],
        [{ "node": "Call 'FINIFAC'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Ventes Magasin'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import CW'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Facture Kuehne'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Expense Salaires'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Facture Serge'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Facture Herport'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import Facture Schouttet'", "type": "main", "index": 0 }],
        [{ "node": "Call 'Import BL EDI'", "type": "main", "index": 0 }],
        [{ "node": "Label unrouted", "type": "main", "index": 0 }]
      ]
    },
    "Call 'Import Facture PLS'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Stock PLS'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Invoice CONSIDER IT DONE'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'FINIFAC'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Ventes Magasin'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import CW'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Facture Kuehne'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Expense Salaires'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Facture Serge'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Facture Herport'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import Facture Schouttet'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Call 'Import BL EDI'": { "main": [[{ "node": "Subworkflow OK?", "type": "main", "index": 0 }]] },
    "Subworkflow OK?": { "main": [[{ "node": "Marquer email importé", "type": "main", "index": 0 }], []] },
    "Marquer email importé": { "main": [[{ "node": "Mark a message as read", "type": "main", "index": 0 }]] },
    "Label unrouted": { "main": [[{ "node": "Mark unrouted as read", "type": "main", "index": 0 }]] },
    "Mark unrouted as read": { "main": [[{ "node": "Send unrouted notification", "type": "main", "index": 0 }]] }
  }
}
